services:
  db:
    image: postgres:17.7-bookworm
    container_name: pg
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - 5544:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
